# Node
node_modules/
dist/
out/

# Electron
release/
asar_out/

# .NET
bin/
obj/

# Logs
*.log

# Archives
*.zip

# IDE
.vs/
.vscode/

# OS
.DS_Store
Thumbs.db

PreySense.Desktop/release/

# Unnecessary files and dirs
build_output/
nul
RELEASE/
